html {
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background-color: hsl(185, 75%, 39%);
    /* background-image: url(/images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: 200px -400px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
background-color: #ffffff;
width: 400px;
display: flex;
flex-direction: column;
border-radius: 10px;
text-align: center;
}

.card-header img {
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-info img {
border-radius: 100%;
width: 100px;
border: 4px solid #ffffff;
margin-top: -52px;
margin-bottom: 20px;
}










footer {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer a {
    color: hsl(228, 45%, 44%);
}


/* background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100px, 10px;
    background-position: top right, bottom left; */